<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/img/ibook_logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/default.css" />
    <link rel="stylesheet" href="../static/css/detalhe-produto.css" />
    <!-- <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename = 'img/ibook_logo.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/default.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/detalhe-produto.css') }}"
    /> -->
    <title>Detalhe do produto</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><img src="../static/img/ibook_logo.png" alt="" /></a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
        </ul>
        <!-- Botão que encaminha para a tela de login -->
        <a class="btn_login" href="/login">
          <button>Login</button>
        </a>
      </nav>
    </header>
    <div class="container">
      <div class="imagem-produto">
        <!-- Exemplo -->
        <!-- <img
          src="../static/img/Vade-mecum-saraiva-OAB-e-Graduacao.webp"
          alt=""
        /> -->
        <img
          src="{{ url_for('static', filename = 'img/{{imagem}}') }}"
          alt="Imagem do Produto"
        />
      </div>
      <div class="detalhes-produto">
        <!-- <h1>Livro 1 de graduação</h1> -->
        <h1>{{nome}}</h1>
        <!-- <p>Preço: R$ 50</p> -->
        <p>Preço: R$ {{ preco }}</p>
        <!-- Botão mercado pago -->
        <button>Comprar</button>
      </div>
    </div>
    <footer class="footer-bg">
      <div class="footer-container">
        <div class="sobre">
          <h2>Sobre</h2>
          <p>Dúvidas Frequentes</p>
        </div>
        <div class="formas-pagamentos">
          <h2>Formas de Pagamento</h2>
          <img src="../static/img/e-footer-formas-de-pagamentos.png" alt="" />
        </div>
        <div class="social">
          <h2>Social</h2>
          <p>SoviOng</p>
          <p><a href="./cadastro-parceiro.html">Lojas</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>