<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}" />
    <link
    rel="icon"
    type="image/x-icon"
    href="{{ url_for('static', filename = 'static\img\ibook_logo.png') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename = 'css/default.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename = 'css/index.css') }}"
  />
    <title>Redefinição de Senha</title>
  </head>
  <style>
    footer{
  bottom: 0;
  position: absolute;
}
  </style>
  <body>
    <header>
      <nav>
        <a href="/"><img src="../static/img/ibook_logo.png" alt="" /></a>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="">Produtos</a></li>
        </ul>
        <!-- Botão que encaminha para a tela de login -->
        <a class="btn_login" href="/login">
          <button>Sair</button>
        </a>
      </nav>
    </header>
    <section class="container">
      <div class="corpo-forms">
          <form action="/reset" method="POST">
            <input type="text" name="email" placeholder="Email" /><br />
            <input type="submit"/>
          </form>
      </div>
    </section>
    <footer class="footer-bg">
      <div class="footer-container">
        <div class="sobre">
          <h2>Sobre</h2>
          <p>Dúvidas Frequentes</p>
        </div>
        <div class="formas-pagamentos">
          <h2>Formas de Pagamento</h2>
          <img src="../static/img/e-footer-formas-de-pagamentos.png" alt="" />
        </div>
        <div class="social">
          <h2>Social</h2>
          <p>SoviOng</p>
          <p><a href="/parceiros">Lojas</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>