<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/default.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}" />
    <link
    rel="icon"
    type="image/x-icon"
    href="{{ url_for('static', filename = 'static\img\ibook_logo.png') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename = 'css/default.css') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename = 'css/index.css') }}"
  />
    <title>Redefinição de Senha</title>
  </head>
  <body>
    <section class="container">
      <div class="corpo-forms">
          <form action="/reset" method="POST">
            <input type="text" name="email" placeholder="Email" /><br />
            <input type="submit"/>
          </form>
          <>
      </div>
    </section>
    <footer></footer>
  </body>
</html>